body{
    background-color: rgb(200, 216, 240);
}
#head-bar{
    background-color:white;
    margin:0 20%;
    border-radius:.5em;
    padding: 0 0 1em 0 ;
}
.head-col{
    height: 1em;
    background: rgb(50, 15, 134);
    /*border-radius:.5em;*/
}
#head-bar h1{
    font-size:3rem;
    padding:0 1em;
}
#head-bar p{
    font-size: 1.3rem;
    padding:0 2.5em;
}
#head-bar h4{
    color:red;
    font-size: 1.4rem;
    padding:0 2.2em;
}
.que{
    background-color:white;
    margin:0 20%;
    border-radius:.5em;
    padding: 0 0 1em 0 ;
}
.que-col{
    height: 0.5em;
    background: rgb(127, 116, 152);
    /*border-radius:.5em;*/
}
.que h3{
    font-size:2rem;
    padding:1em 1em 0 1em;
    
}
.que p{
    font-size: 1.3rem;
    padding:0 2em;
}
#butt{
    background-color: rgb(105, 35, 185);
    color:white;
    font-size:1.1rem;
    padding:0.7em 1.5em;
    border-radius:0.4em;
    border:none;
    margin:1.5rem 45%;
    transition: transform .2s;
}
#butt:hover{
    background-color: rgb(137, 86, 196);
}
#butt:active {
    transform: scale(0.8);
}
.tailer{
    color:grey;
    padding: 1.2em 0 0 0;
}
.tailer p{
    font-size:1.2rem;
    padding: 0 19rem;
}
.tailer h5{
    font-size:2rem;
    margin: 0 34%;
}